<footer class="section-footer {% if page.url == "/portfolio/" %} not-full portfolio-footer {% endif %}">
  <div data-grid="gutterless">
    <div data-col="L1-2">
      <ul class="social-items-list">
        <li>
          <a href="mailto:rinesch.murugathas@gmail.com" title="Mail me">
            <div class="circle mail">
              <span data-icon="mail"></span>
            </div>
          </a>
        </li>

        <li>
          <a href="https://twitter.com/rineschthas" title="Read my tweets" target="_blank">
            <div class="circle twitter">
              <span data-icon="twitter"></span>
            </div>
          </a>
        </li>

        <li>
          <a href="https://dribbble.com/rinesch" title="View my shots" target="_blank">
            <div class="circle dribbble">
              <span data-icon="dribbble"></span>
            </div>
          </a>
        </li>

        <li>
          <a href="https://github.com/Rinesch" title="View my repositories" target="_blank">
            <div class="circle github">
              <span data-icon="github"></span>
            </div>
          </a>
        </li>
      </ul>
    </div>

    <div data-col="L1-2">
      <p class="footer-copyright">Website design and content © 2018 Rinesch Murugathas</p>
    </div>
  </div>
</footer>
