{% capture title %}
  {% if page.title %}{{ page.title }} - {% endif %}Rinesch Murugathas
{% endcapture %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <meta name="apple-mobile-web-app-title" content="Rinesch Murugathas">
  <meta name="author" content="Rinesch Murugathas">
  <meta name="description" content="{{ description }}">
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="icon" href="/favicon.png">
  <link rel="icon" sizes="192x192" href="/apple-touch-icon.png">
  <!--[if IE]><link rel="shortcut icon" href="/favicon.ico"><![endif]-->
  <meta name="theme-color" content="#1D976C">
  <meta name="msapplication-TileColor" content="#1D976C">
  <meta name="msapplication-TileImage" content="/apple-touch-icon.png">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@RineschThas">
  <meta name="twitter:creator" content="@RineschThas">
  <meta name="twitter:img:src" content="{{ site.url }}/apple-touch-icon.png">
  <meta name="twitter:img:width" content="800">
  <meta name="twitter:img:height" content="800">
  <meta name="twitter:title" content="{{ title | strip_newlines }}">
  <meta name="twitter:description" content="{{ description }}">
</head>
