<header>

  <div data-grid="gutterless">

    <div data-col="L1-2">
      <h1 class="site-heading">
        <a href="{{ "/" }}"><img class="site-logo" src="/assets/img/logo.svg" alt="logo" /></a>
        <a href="{{ "/" }}"> rinesch murugathas</a>
      </h1>
    </div>

    <nav data-col="L1-2">
      <ul class="site-nav" data-grid="gutterless">
        <li>
          {% for link in site.links %}
            <a class="site-nav-item" href="{{ link.url }}" title="{{ link.title }}" data-col="M1-4">{{ link.title }}</a>
          {% endfor %}
        </li>
      </ul>
    </nav>

  </div>

</header>
