<header class="section-header {% if page.url == "/portfolio/" or page.match == "post" %} not-full portfolio-header {% endif %}">

  <div data-grid="gutterless">

    <div data-col="L1-2">
      <h1 class="site-heading">
        <a href="{{ "/" }}"><img class="site-logo wiggle" src="/assets/img/logo.svg" alt="logo" /></a>
        <a href="{{ "/" }}" class="site-title"> rinesch murugathas</a>
      </h1>
    </div>

    <nav data-col="L1-2">
      <ul class="site-nav" data-grid="gutterless">
        {% for link in site.links %}
          <li data-col="M1-4">
            <a class="site-nav-item {% if link.url == page.url %} is-active {% endif %}" href="{{ link.url }}" title="{{ link.title }}" >{{ link.title }}</a>
          </li>
        {% endfor %}
          <li data-col="M1-4">
            <a class="site-nav-item" href="#contact" title="Contact" >Contact</a>
          </li>
      </ul>
    </nav>

  </div>

</header>
