.portfolio-recent {

}

.portfolio-title {
  font-family: "Roboto Condensed";
  font-size: 1.75em;
  font-weight: 700;
  text-align: center;

  @include at-least(l) {
    text-align: left;
    margin: 1em 0;
  }
}

.portfolio-header {
  padding-bottom: 1em;
}

.portfolio-footer {
  padding: 1.5em 0;
}

.portfolio-cards {
  margin: 0;

  @include at-least(m) {
    margin: 0 1.5em;
  }
}

.card {
  position: relative;
  background-color: white;
  color: $text-color;
  margin: 1em;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
  transition: transform .25s ease-in-out, box-shadow .25s ease-in-out;

  @include at-least(m) {
    margin: 0;
  }
}

.card:hover {
  @include at-least(l) {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    transform: scale(1.1, 1.1);
    z-index: 1;
  }
}

.card .card-image {

  img {
    display: block;
    border-radius: 5px 5px 0 0;
    width: 100%;
  }
}

.card .card-content {
  padding: 1.5em;
  border-radius: 0 0 5px 5px;

  p {
    margin: 0;
  }
}

.card .card-content .card-title {
  display: block;
}

.card .card-title {
  padding-bottom: .5em;
  font-family: "Roboto Condensed";
  font-size: 1.5em;
}

.card .card-action {
  padding: 1em 1.5em;
  border-top: 1px solid rgba(160, 160, 160, 0.2);

  a {
    text-decoration: none;
    color: $link-color;
  }
}

.card-tags {
  padding-top: 1em;
}

.card-tags-name {
  font-family: "Roboto Condensed";
  color: $tag-color;
}

.tag-space {
  padding-left: .5em;
}
