.post-background {
  margin: 3vw 0;
  background-color: $post-background;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);

  @include at-least(l) {
    margin: 3vw 10vw;
    border-radius: 5px;
  };
}

.tab {
  display: inline-block;
  width: 5em;
}

.post {
  max-width: 40em;
  margin: 0 auto;
  padding: 3em 0;
  color: $text-color;
  line-height: 1.5;
  font-size: 125%;
}

.post-header {
  padding: 1em;
  background-color: $link-color;
  color: white;
  border-bottom: 1px solid darken($link-color, 5%);

  @include at-least(l) {
    padding: 2em;
    padding-right: 2em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  };
}

.post-title {
  margin: 0;
  font-family: "Roboto Condensed";
  font-size: 10vw;
  text-transform: uppercase;

  @include at-least(l) {
    font-size: 3.5em;
    margin-bottom: .25em;
  };
}

.post-metadata {
  font-size: 4vw;

  @include at-least(l) {
    font-size: 1.25em;
  };
}

.post-content {
  margin: 0 1em;

  p {
    margin-top: 0;
    margin-bottom: 1.5em;
  }
}

.tools-title {
  color: white;
  background-color: $link-color;
  margin: 0;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto Condensed";
  font-size: 1.5em;
  border-bottom: 1px solid darken($link-color, 5%);

  @include at-least(l) {
    text-align: left;
  }
}

.tools-list {
  list-style: none;
  padding: 2em;
  margin: 0;
  text-align: center;

  li {
    display: inline-block;
    float: none;
    padding: 0 1em;
  }
}

.tools-img {
  height: 10vw;

  @include at-least(m) {
    height: 7vw;
  }

  @include at-least(l) {
    height: 5em;
  }
}

.tools-name {
  color: $text-color;
  opacity: 0.7;
  text-transform: uppercase;
  font-family: "Roboto Condensed";
  font-size: 4vw;

  @include at-least(m) {
    font-size: 2vw;
  }

  @include at-least(l) {
    font-size: 1em;
  }
}
