$default-body: #1D976C;
$text-color: #333;
$link-color: #E3AC20;
$post-background: #f9f9f9;
$tag-color: rgba(0, 0, 0, 0.5);

$media-queries: (
  's': 30em,
  'm': 45em,
  'l': 60em,
  'xl': 70em
);

$column-prefixes: (
  'S': '(min-width: #{map-get($media-queries, "s")})',
  'M': '(min-width: #{map-get($media-queries, "m")})',
  'L': '(min-width: #{map-get($media-queries, "l")})'
);

$columns: 2, 3, 4, 5;
