---
layout: default
title: Portfolio
description: "Have a look at projects Rinesch Murugathas has done and read about his experiences."
permalink: /portfolio/
---

<section class="portfolio-cards">
  <h1 class="portfolio-title portfolio-recent">RECENT PROJECTS</h1>

  <div data-grid>
    {% for post in site.posts limit:3 %}
      <div data-col="L1-3 M1-3">
        <div class="card">

          <div class="card-image">
            <img src="/assets/img/sample4.jpg" alt="sample" />
          </div>

          <div class="card-content">
            <span class="card-title">{{ post.title }}</span>
            <p>{{ post.caption }}</p>
            <div class="card-tags">
              <p class="card-tags-name">
                <span data-icon="date"></span> {{ post.time }}
                <span class="tag-space" data-icon="tag"></span> {{ post.tags | join: ', ' }}
              </p>
            </div>
          </div>

          <div class="card-action">
            <a class="link" href="{{ post.url }}">Read more</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

<section class="portfolio-cards">
  <h1 class="portfolio-title">ALL PROJECTS</h1>

  <div data-grid>
    {% for post in site.posts offset:3 %}
      <div data-col="L1-3 M1-3">
        <div class="card">

          <div class="card-image">
            <img src="/assets/img/{{ post.title | downcase }}/hero.png" alt="sample" />
          </div>

          <div class="card-content">
            <span class="card-title">{{ post.title }}</span>
            <p>{{ post.caption }}</p>
            <div class="card-tags">
              <p class="card-tags-name">
                <span data-icon="date"></span> {{ post.time }}
                <span class="tag-space" data-icon="tag"></span> {{ post.tags | join: ', ' }}
              </p>
            </div>
          </div>

          <div class="card-action">
            <a class="link" href="{{ post.url }}">Read more</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
