---
layout: default
title: Portfolio
permalink: /portfolio/
---

<section class="portfolio-cards">
  <h1 class="portfolio-title portfolio-recent">RECENT PROJECTS</h1>

  <div data-grid>
    {% for post in site.posts limit:3 %}
      <div data-col="L1-3 M1-3">
        <div class="card">

          <div class="card-image">
            <img src="/assets/img/sample4.jpg" alt="sample" />
          </div>

          <div class="card-content">
            <span class="card-title">{{ post.title }}</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dapibus suscipit sapien, vitae luctus libero rutrum vel. Nullam ut augue neque.</p>
          </div>

          <div class="card-action">
            <a class="link" href="{{ post.url }}">Read more</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

<section class="portfolio-cards">
  <h1 class="portfolio-title">ALL PROJECTS</h1>

  <div data-grid>
    {% for post in site.posts offset:3 %}
      <div data-col="L1-3 M1-3">
        <div class="card">

          <div class="card-image">
            <img src="/assets/img/sample4.jpg" alt="sample" />
          </div>

          <div class="card-content">
            <span class="card-title">{{ post.title }}</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dapibus suscipit sapien, vitae luctus libero rutrum vel. Nullam ut augue neque.</p>
          </div>

          <div class="card-action">
            <a class="link" href="{{ post.url }}">Read more</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
