<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="section-main {% if page.url == "/portfolio/" or "/portfolio/*/" %} not-full {% endif %}">
      {{ content }}
    </main>

    {% include footer.html %}

    <div id="modal">
      <div class="modal-content" data-grid="gutterless">
        <div class="close">
          <a href="#">&times;</a>
        </div>
        <div data-col="L1-2">
          <a class="contact-link" href="mailto:rinesch.murugathas@gmail.com">
            <h1><span data-icon="mail"></span> Mail</h1>
          </a>
        </div>
        <div data-col="L1-2">
          <a class="contact-link" href="https://twitter.com/rineschthas" target="_blank">
            <h1><span data-icon="twitter"></span> Twitter</h1>
          </a>
        </div>
      </div>
    </div>

    <div class="bg-pattern"></div>
  </body>

</html>
