---
layout: default
categories: :title
---
<article class="post-background">
  <div class="post-header" data-grid="gutterless">
    <h1 class="post-title">{{ page.title | escape }}</h1>
    <div class="post-metadata" data-col="L1-2">
      <div><span class="tab">Duration: </span>{{ page.duration }}</div>
      <div><span class="tab">Team: </span>{{ page.team }}</div>
    </div>
  </div>

  <div class="post">
    <div class="post-content">
      {{ content }}
    </div>
  </div>

  <div class="tools">
    <h1 class="tools-title">Tools used</h1>
    <ul class="tools-list">
      {% for tool in page.tools %}
        <li>
          <img class="tools-img" src="/assets/img/tools/{{tool}}.png" alt="{{tool}}" title="{{tool}}"/>
          <div class="tools-name">{{tool}}</div>
        </li>
      {% endfor %}
    </ul>
  </div>
</article>
